/* experiment */
    /* font style */
    body {font-family: "Microsoft JhengHei", sans-serif;}
    input {font-family: "Microsoft JhengHei", sans-serif;}

/* global styles */
*:focus {outline: 0;}
a {text-decoration: none;}

/* functional elements */
.clear {
    claer: both;
}

/* layout */
nav {
    position: fixed;
    text-align: center;
    background: #204D74;
    height: 100%;
}

#friend-area {
    position: fixed;
    top: 0;
    height: 100%;
    overflow: auto;
}

#message-area {
    border-left: 1px solid #DDD;
    padding: 20px 0;
    margin-left: 520px;
    overflow: auto;
}

#panel-area {
    line-height: 45px;
    background: #EEE;
    height: 45px;
    border-top: 1px solid #DDD;
    border-left: 1px solid #DDD;
    margin-left: 520px;
}

/* navigation area */
#nav-profile {
    margin-top: 60px;
}

#nav-profile .profile-avatar {
    display: block;
}

#nav-profile .profile-avatar img {
    width: 80px;
    height: 80px;
    border: 1px solid #286090;
    border-radius: 5px;
    box-shadow: 0 0 1px black;
}

#nav-profile .profile-name {
    display: block;
    color: white;
    font-size: large;
    text-shadow: 1px 1px black;
    margin: 20px 0;
}

#nav-profile .profile-status {
    display: block;
    color: #EEE;
    line-height: 140%;
    margin: 10px 10px;
}

#nav-profile .profile-status:hover {
    color: white;
}

#new-connection {
    display: inline-block;
    color: white;
    background: #5CB85C;
    padding: 10px 20px;
    border: 1px solid #4CAE4C;
    border-radius: 5px;
    margin: 20px 0;
}

#new-connection:hover {
    background: #449D44;
    border: 1px solid #398439
}

#new-connection:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

#menu {
    text-align: left;
}

#menu li a {
    display: block;
    color: white;
    padding: 10px 0;
}

#menu li a:hover {
    background: rgba(255, 255, 255, 0.1);
}

#menu li a:active {
    color: #EEE;
}

#menu li a span {
    margin-left: 40px;
}

/* font icon style */
.fa {
    color: #EEE;
    width: 15px;
    margin-right: 10px;
}

/* friend list area */
.friend-unit {
    background: #F6F6F6;
    padding: 20px 0;
    border-bottom: 1px solid #DDD;
    cursor: pointer;
}

.friend-unit:hover {
    background: #EEE;
}

.friend-avatar {
    float:left;
    width: 50px;
    margin-left: 15px;
}

.friend-avatar img {
    width: 50px;
    height: 50px;
    border: 1px solid #286090;
    border-radius: 5px;
    box-shadow: 0 0 1px black;
}

.friend-info {
    float:right;
    margin-right: 15px;
    width: 200px;
}

.friend-info-name {
    font-size: large;
    font-weight: bold;
    margin-bottom: 4px;
}

.friend-info-status {
    color: #286090;
    font-size: small;
    font-weight: bold;
    line-height: 140%;
    margin: 4px 0;
}

.friend-info-chat {
    color: #333;
    font-size: small;
    margin: 4px 0;
}

.friend-selected {
    background: #EEE;
    border-left: 6px solid #D9534F;
}

.friend-selected:hover {
    background: #EEE;
}

.friend-read-online {
    border-left: 6px solid #5CB85C;
}

.friend-read-offline {
    border-left: 6px solid transparent;
}

.friend-unread {
    border-left: 6px solid #F0AD4E;
}

/* message area */
.message-from-me,
.message-from-others,
.message-from-system {
    display: inline-block;
    color: white;
    line-height: 140%;
    padding: 12px 16px;
    border-radius: 6px;
    margin: 0 20px 12px 20px;
}

.message-from-me {
    background: #5CB85C;
}

.message-from-others {
    background: #337AB7;
}

.message-from-system {
    background: #F0AD4E;
}

/* panel area */
.wrapper-input {
    float: left;
    background: white;
    padding: 4px 10px;
    width: 75%;
    border: 1px solid #CCC;
    border-radius: 5px;
    margin: 8px 0 0 15px;
}

.wrapper-input input[type="text"] {
    width: 100%;
    border: 0;
}

.form-button {
    float: left;
    color: white;
    font-size: small;
    line-height: 100%;
    text-decoration: none;
    background: #337AB7;
    padding: 8px 12px;
    border: 1px solid #2E6DA4;
    border-radius: 5px;
    margin: 8px 0 0 5px;
    cursor: pointer;
}

.form-button:hover {
    background: #286090;
}

.form-button:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

#bonbon-button {
    background: #D9534F;
    border: 1px solid #D43F3A;
}

#bonbon-button:hover {
    background: #C9302C;
    border: 1px solid #AC2925;
}
/*
    styles for different media types
    tablets: >= 768px
    desktops: >= 992px
*/
#media-type {
    position: fixed;
    top: 0;
    right: 0;
}
    /* phones */
    #media-type-tablets, #media-type-desktops {
        display: none;
    }
    nav {
        width: 200px;
    }
    #friend-area {
        width: 320px;
        left: 200px;
    }
    #message-area {
    }
    /* tablets */
    @media(min-width: 768px) {
        #media-type-phones {
            display: none;
        }
        #media-type-tablets {
            display: initial;
        }
        .wrapper-input {
            width: 55%;
        }
    }
    /* desktops */
    @media(min-width: 992px) {
        #media-type-tablets {
        display: none;
        }
        #media-type-desktops {
        display: initial;
        }
        .wrapper-input {
            width: 70%;
        }
    }