// global styles
* {
  &:focus {
    outline: 0;
  }
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: "Microsoft JhengHei", sans-serif;
}

a {
  text-decoration: none;
}

input {
  font-family: "Microsoft JhengHei", sans-serif;
}

// functional elements
.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clear {
  clear: both;
}
