@import "base.less";

#login-page {
  background-color: black;

  #login-img {
    margin: 0 auto;
    width: 1024px;
    height: 768px;
    background-repeat: no-repeat;
    background-image: url('../img/login.jpg');

    #login-button {
      width: 348px;
      height: 100px;
      position: absolute;
      margin-left: 62px;
      margin-top: 515px;      
    }
  }
}
