@import "base.less";

#login-page {
  background-image: url('../img/background.jpg');
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  #bonbon {
    width: 30%;
	display: block;
	margin: auto;
	@media screen and (max-width: 480px) {
		width: 70%;
	}
  }
  #login-button {
	cursor: pointer;
	background: #333333;
	border-radius: 9px;
	color: #cfcfcf;
	font-size: 24px;
	padding: 10px 20px 10px 20px;
	margin: auto;
	display: block;
	border-width: 0px;
	&:hover {
		background: #181818;
	}
  }
}
