#connection {
  position: fixed;
  top: 0;
  left: 520px;
  width: 600px;
  margin: auto;
  overflow: none;
  background: #D9EDF7;
  padding-top: 15px;
}
#connection-list {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  margin-top: -126px;
  margin-left: -61px;
}
.stranger-avatar {
  float:left;
  width: 50px;
  margin-left: 15px;
}

.stranger-avatar img {
  width: 50px;
  height: 50px;
  border: 1px solid #B6FA98;
  border-radius: 5px;
  box-shadow: 0 0 1px black;
}
.connection-line {
  margin-bottom: -20px;
}
.connection-button {
  display: inline-block;
  color: white;
  background: rgba(0, 0, 0, 0.15);
  padding: 10px 20px;
  border: 1px solid #A1B9C1;
  border-radius: 5px;
  margin: 20px 0;
  width: 80px;
  cursor: pointer;
}

.connection-button:hover {
  background: rgba(255, 255, 255, 0.3);
}

.connection-button:active {
  background: rgba(255, 255, 255, 0.1);
}
